.a{
background-color:#024873 ;
color: aliceblue;
display: flex;
justify-content:space-around;
text-align: center;
}
.b
.c{
    text-align: center;
    text-align: ;
}
.d{
    float: right;
}
.e{
    float: right; 
}
.f{
    float: right; 
}
.g{
    float: right; 
}
.p{
    display: flex;
justify-content:space-evenly;
color:gray ;
}
.r{
    background-color: ;
}